body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.slide-container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #d1c5ba;
}

.image-slider{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    position: relative;
}

.img{
    position: relative;
    width: 300px;
    height: 300px;
    transition: 0.5s;
}

.button {
    position: absolute;
    width: 300px;
    height: 300px;
    transition: 0.5s;
    background-color: rgba(67, 67, 151, 0.2);
}


#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~.image-slider #button-1{
    width: 585px;
    height: 585px;
    background-color: transparent;
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~.image-slider #button-2{
    width: 585px;
    height: 585px;
    background-color: transparent;
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~.image-slider #button-3{
    width: 585px;
    height: 585px;
    background-color: transparent;
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~.image-slider #button-4{
    width: 585px;
    height: 585px;
    background-color: transparent;
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~.image-slider #button-5{
    width: 585px;
    height: 585px;
    background-color: transparent;
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~.image-slider #button-6{
    width: 585px;
    height: 585px;
    background-color: transparent;
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~.image-slider #button-7{
    width: 585px;
    height: 585px;
    background-color: transparent;
}

.see-more-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.see-more-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.see-more-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


#slider-span1:target ~ .image-slider {
    left: 75%;
}
#slider-span2:target ~ .image-slider {
    left: 50%;
}
#slider-span3:target ~ .image-slider {
    left: 25%;
}
#slider-span4:target ~ .image-slider {
    left: 0%;
}
#slider-span5:target ~ .image-slider {
    left: -20%;
}
#slider-span6:target ~ .image-slider {
    left: -50%;
}
#slider-span7:target ~ .image-slider {
    left: -75%;
}

@media (max-width: 600px) {
    .slide-container {
        height: 100%;
        flex-direction: column;
    }
    .image-slider {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .slides-div {
        margin: 10px 0px;
    }
    .img{
        position: relative;
        width: 100px;
        height: 100px;
        transition: 0.5s;
    }
    
    .button {
        position: absolute;
        width: 100px;
        height: 100px;
        transition: 0.5s;
        background-color: rgba(67, 67, 151, 0.2);
    }

    .see-more-button {
        padding: 1px 3px;
    }

    #slider-span1:target ~ .image-slider #img1,
    #slider-span1:target ~.image-slider #button-1{
        width: 300px;
        height: 300px;
        background-color: transparent;
    }
    #slider-span2:target ~ .image-slider #img2,
    #slider-span2:target ~.image-slider #button-2{
        width: 300px;
        height: 300px;
        background-color: transparent;
    }
    #slider-span3:target ~ .image-slider #img3,
    #slider-span3:target ~.image-slider #button-3{
        width: 300px;
        height: 300px;
        background-color: transparent;
    }
    #slider-span4:target ~ .image-slider #img4,
    #slider-span4:target ~.image-slider #button-4{
        width: 300px;
        height: 300px;
        background-color: transparent;
    }
    #slider-span5:target ~ .image-slider #img5,
    #slider-span5:target ~.image-slider #button-5{
        width: 300px;
        height: 300px;
        background-color: transparent;
    }
    #slider-span6:target ~ .image-slider #img6,
    #slider-span6:target ~.image-slider #button-6{
        width: 300px;
        height: 300px;
        background-color: transparent;
    }
    #slider-span7:target ~ .image-slider #img7,
    #slider-span7:target ~.image-slider #button-7{
        width: 300px;
        height: 300px;
        background-color: transparent;
    }

    #slider-span1:target ~ .image-slider {
        top: 30%;
        left: auto;
    }
    #slider-span2:target ~ .image-slider {
        top: 20%;
        left: auto;
    }
    #slider-span3:target ~ .image-slider {
        top: -10%;
        left: auto;
    }
    #slider-span4:target ~ .image-slider {
        top: -25%;
        left: auto;
    }
    #slider-span5:target ~ .image-slider {
        top: -45%;
        left: auto;
    }
    #slider-span6:target ~ .image-slider {
        top: -65%;
        left: auto;
    }
    #slider-span7:target ~ .image-slider {
        top: -80%;
        left: auto;
    }
}
